<% if @user.errors.any? %>
  <div id="error_explanation">
    <div classs="alert alert-danger">
      <%= t("errors", cout: @user.errors.size) %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
