<footer class="footer">
  <%= t "footer"%>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("news"), href="http://news.railstutorial.org/"%></li>
    </ul>
  </nav>
</footer>
